<div class="container">
    {{#each cars}}
    <div class="row">
        <div class="col-sm-4">
            <strong>{{make}} Model {{model}}</strong>
        </div>
        <div class="col-sm-4">
            Mileage: {{mileage}}
        </div>
        <div class="col-sm-4">
            Color: {{color}}
        </div>
    </div>
    {{/each}}
</div>