<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to the Auto Body Shop</h1>
        <p class="lead">We work on cars so you don't have to. </p>
        <a href="/cars"><button class="btn btn-primary">View all cars</button></a>
    </div>
</div>