<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Details on your Car</h1>
        </div>
        <div class="col-sm-12"></div>
        <ul>
            <li>{{make}}</li>
            <li>Model {{model}}</li>
            <li>{{color}}</li>
            <li>{{mileage}} miles</li>
        </ul>
    </div>
    <div class="row">
        <a href="/cars">
            <button class="btn btn-secondary">
                Return to all cars
            </button>
        </a>
    </div>
</div>